.btn {
    display: inline-block;
    width: 15rem;
    
    padding: 1rem;

    border: none;
    border-radius: 5px;

    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        background-color: $clr-secondary;
        color: $clr-primary-white;
    }
}

.btn-on-dark {
    background-color: $clr-primary-white;
    color: $clr-primary-black;
}

.btn-on-light {
    background-color: $clr-primary;
    color: $clr-primary-white;
}