.header {
    position: relative;
    height: 9.6rem;
    
    display: flex;
    align-items: center;

    background-color: $clr-primary-white;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            display: flex;
        }
    }
    &__logo {
        width: 20rem;
    }

    &__nav {
        display: none;
        position: fixed;
        top: 9.6rem;
        left: 0;
        width: 100%;

        padding: 4rem 2rem;

        background-color: $clr-primary-black;


        &-underlay {
            visibility: hidden;
            position: fixed;
            top: 9.6rem;
            left: 0;

            height: calc(100vh - 9.6rem);
            width: 100vh;

            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;

            transition: all .2s ease;
        }

        &-list {

            @media only screen and (min-width: $bp-small) {
                display: flex;
            }
        }

        &-item:not(:last-child) {
            margin-bottom: 3rem;

            @media only screen and (min-width: $bp-small) {
                margin: 0 2rem 0 0;
            }
        }

        &-link {
            font-size: 2.4rem;
            color: $clr-primary-white;

            @media only screen and (min-width: $bp-small) {
                color: $clr-secondary-dark-grey;
                font-size: 1.4rem;
            }
        }

        @media only screen and (min-width: $bp-small) {
            display: block;
            position: static;
            top: unset;
            left: unset;
            width: auto;
            padding: unset;

            background-color: unset;
        }
    }

    &__burger {
        height: 2rem;
        width: 2.4rem;

        border: none;

        background-color: $clr-primary-white;
        background-image: url("../../assets/shared/mobile/icon-hamburger.svg");
        background-position: center;   
        
        @media only screen and (min-width: $bp-small) {
            display: none;
        }
    }

    &.active {
        position: fixed;
        z-index: 100;
        width: 100vw;
    }

    &.active > .container &__burger {
        background-image: url("../../assets/shared/mobile/icon-close.svg");
    }

    &.active > .container .header__nav {
        display: block;
    }

    &.active > .container .header__nav-underlay {
        visibility: visible;
        opacity: 1;
    }

    @media only screen and (min-width: $bp-med) {
        padding-top: 4rem;
    }
}