.nav {

    &-list {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {

            @media only screen and (min-width: $bp-small) {
                text-decoration: underline;
            }
        }
    }
}