.product-main {
    padding: 6rem 0;
    margin-bottom: 4rem;

    & > .container {
        display: grid;
        grid-row-gap: 4rem;

        @media only screen and (min-width: $bp-large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, max-content);
            grid-gap: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover > .product-main__item .product-main__content {
            background-color: $clr-primary;
            color: $clr-primary-white;
        }

        &:hover > .product-main__item .product-main__content .product-main__title {
            color: $clr-primary-white;
        }
    }

    &__item {
        display: grid;
        grid-template-rows: 32rem minmax(18rem, max-content);

        border-radius: var(--border-radius);

        overflow: hidden;

        @media only screen and (min-width: $bp-small) {
            grid-template-rows: 31rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $bp-large) {
            grid-template-rows: 32rem minmax(18rem, max-content);
            grid-template-columns: unset;

            max-width: 35rem;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;
    }

    &__content {
        padding: 2rem;

        background-color: $clr-light-bg;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        transition: all .2s ease;
    }

    &__title {
        margin-bottom: 2rem;

        color: $clr-primary;
    }
}

// App design
.airfilter {
    background-image: url("../../assets/app-design/desktop/image-airfilter.jpg");
}

.eyecam {
    background-image: url("../../assets/app-design/desktop/image-eyecam.jpg");
}

.faceit {
    background-image: url("../../assets/app-design/desktop/image-faceit.jpg");
}

.todo {
    background-image: url("../../assets/app-design/desktop/image-todo.jpg");
}

.loopstudios {
    background-image: url("../../assets/app-design/desktop/image-loopstudios.jpg");
}

// Graphic design

.tim-brown {
    background-image: url("../../assets/graphic-design/desktop/image-change.jpg");
}

.boxed-water {
    background-image: url("../../assets/graphic-design/desktop/image-boxed-water.jpg");
}

.science {
    background-image: url("../../assets/graphic-design/desktop/image-science.jpg");
}

// Web design

.express {
    background-image: url("../../assets/web-design/desktop/image-express.jpg");
}

.transfer {
    background-image: url("../../assets/web-design/desktop/image-transfer.jpg");
}

.photon {
    background-image: url("../../assets/web-design/desktop/image-photon.jpg");
}

.builder {
    background-image: url("../../assets/web-design/desktop/image-builder.jpg");
}

.blogr {
    background-image: url("../../assets/web-design/desktop/image-blogr.jpg");
}

.camp {
    background-image: url("../../assets/web-design/desktop/image-camp.jpg");
}