.hero {

    & .container {
        width: 100%;

        display: grid;
        grid-template-rows: repeat(2, max-content);

        background-color: $clr-primary;
        background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: left top 8rem;

        @media only screen and (min-width: $bp-small) {
            width: 90%;

            background-size: 80%;
            background-position: right -5rem top 10rem;
            border-radius: var(--border-radius);
        }

        @media only screen and (min-width: $bp-large) {
            grid-template-rows: max-content;
            grid-template-columns: 60% 40%;
        }
    }
    
    &__content {
        padding: 6rem 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        color: $clr-primary-white;

        & > * {
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: $bp-large) {
            padding: 6rem 0 6rem 6rem;
            align-items: flex-start;

            text-align: left;
        }
    }

    &__title {
        max-width: 40rem;

        @media only screen and (min-width: $bp-small) {
            max-width: 50rem;
        }
    }

    &__text {
        max-width: 42rem;
        line-height: 2.5rem;
    }

    &__image {
        transform: translateY(-8%);

        &-container {
            width: 100%;
            height: 45rem;

            display: flex;
            justify-content: center;
            align-items: flex-start;

            overflow: hidden;
        }
    }

    @media only screen and (min-width: $bp-small) {
        padding-top: 2rem; 
    }
}